body {
    background-color: black;
}
.btn {
    display: block;
    width: 150px;
    margin-left: 50%;
    margin-bottom: 10px;
}
.carrot {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: 50%;
    margin-bottom: 10px;
}

.rabbit {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: 50%;
    margin-bottom: 10px;
} 